body{
  padding: 0 !important;
  margin: auto !important;
  overflow-x: hidden;
  overflow-y: scroll;
}
html, body { 
  background-color: #333; 
}
video {
  width:  320px;
  height:  240px;
  border:  1px solid black;
}
.dashboard{
  text-align: center;
  font-size: 10pt;
  color: gray;
}
#gui_overlays{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  font-size: 20pt;
  color: white;
}
#information{
  position: absolute;
  top: 20px; right: 20px;
}
#contribute{
  position: absolute;
  top: 65px; right: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
#gl_context
{
  width:95%;
  margin: 0;
  padding: 0;
}
#userList
{
  float: right;
  width:5%;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}